# This file contains patterns for files that you
# should NOT check in to the git repository.
*.class
bin/
build/
out/
.DS[Ss]tore
# Python files
__pycache__
*.pyc
# IDE files
.idea
*.iml
*.ctxt
.classpath
classpath
.settings
.project
.nbproject
.vscode
vscode